.App {
  text-align: center;
  position: relative;
  top: 80px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
a {
  font-weight: bold;
}

.main-section {
  display: flex;
  flex-flow: row;
  justify-content: left;
}

.search-panel {
  /* position: absolute; */
  left: 10rem;
  text-align: left;
  min-width: 15%;
  margin: 2rem;
}

.main-part {
  position: center;
  max-width: 60%;
}
.left-panel-form {
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
}
